# 1. Files related to Project Management
# 1.1. System Files
.DS_Store


# 1.2. App-related Files
# 1.2.1. RStudio
.Rhistory
.Rproj.user
*.Rproj

# 1.2.2. VS Code
.idea


# 2. Datasets
# ## Note: Data files will be stored in Dropbox.
**/*.RData
